body {
  margin: 0;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #222;
}

.app-container {
  max-width: 660px;
  margin: 0 auto;
  padding: 5px;
}

ul {
  padding: 0;
  list-style: none;
}

/* Link list */

ul.link-list > li {
  margin-bottom: 30px;
}

.link-list__title {
  margin-bottom: 5px;
}

.link-list__body {
  margin-top: 0;
}

.qna-page {
  border: 2px solid #222;
  margin-bottom: 10px;
}

.qna-page__header,
.qna-page__footer {
  padding: 8px 10px 10px;
  font-size: 10px;
  background: #ededed;
}

.qna-page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #222;
  color: #fff;
}

.qna-page__header * {
  margin: 0;
}

.qna-page__footer {
  text-align: center;
}

.qna-page__body {
  padding: 10px;
}

.qna-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ededed;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px 7px 7px;
  border-radius: 5px;
}

.qna-question:hover {
  background: #dddddd;
}

.qna-question:last-child {
  margin-bottom: 0;
}

.qna-error-message {
  color: #b10e1e;
  font-weight: 700;
}

label,
input {
  display: block;
}

label {
  margin-bottom: 3px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #222;
}

.qna-form-group {
  margin: 1em 0;
}

button {
  border: 0;
  color: white;
  font-size: 16px;
  padding: 8px;
  background: green;
  margin-bottom: 10px;
}
